@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer {
  h6 {
    @apply font-medium text-xl
  }
  input {
    @apply border border-zinc-200 shadow shadow-zinc-100 p-2  w-full rounded-xl;
  }

  button {
    @apply disabled:opacity-50 disabled:cursor-not-allowed bg-indigo-600 text-white p-2 rounded-lg w-full font-medium;
  }

  h3{
    @apply text-2xl font-semibold tracking-tight;
  }

  p {
    @apply text-zinc-500 text-sm;
  }
}
